body{
    background-color: green;
    text-align: center;
}

h1{
    color:#a64503;
    border: 2px solid #FAE392;
    display: inline-block;
    padding: 10px;
    background-color: chartreuse;
    
}

img{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

button{
    background-color: #FAE392;
    border: 2px solid red;
    padding: 15 px 32 px;
    text-align: center;
    display: block;
    font-size: 16px; ;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
footer{
    text-align: left;
    color: azure;
    background-color: black;
   padding-left: 10px;
}
p{
    color:black;
    border: 2px solid red;
    padding: 10px;
    background-color: chartreuse;
    text-align: left;
    font-size: 16 px;
}